<html>
	<head>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link rel="stylesheet" type="text/css" href="styles/siq.css">
		<title>%%TITLE%%</title>
		%%INCLUDESCRIPT%%
	</head>
	<body %%ONLOAD%%>
		%%CALENDAR%%
		<table width="900" align="center" border="0" cellspacing="2" cellpadding="0">
			<tr>
				<td align="center" valign="middle">
					<img src="images/LogoBAN.jpg" width="211" height="100" border="0">
				</td>
				<td align="center" valign="middle">
					<img src="images/SIQBAN.GIF" width="450" height="57" border="0">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center" valign="middle">
					<div class="apptitle">%%APPNAME%%</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="line"></td>
			</tr>
			<tr>
				<td colspan="2">
				   
					%%HTMLPATH%%
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="pagetitle">%%PAGETITLE%%</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
				   %%HTMLMENU%%
				</td>
			</tr>
			<tr>
				<td colspan="2">


